// @use 'sass:math';

@mixin media($w) {
	@media (min-width: $w+'px') {
		@content;
	}
}

$xxs: 320;
$xs: 479;
$sm: 767;
$md: 999;
$lg: 1199;

// @function strip-unit($value) {
//   @return math.div($value, $value * 0 + 1);
// }

// @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
//   font-size: calc(#{$min-font-size}px + #{($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}px) / #{strip-unit($max-vw - $min-vw)}));
//   // font-size: calc(64px + (106 - 64) * ((100vw - 767px) / (1230 - 767)));
// }

@mixin picture {
  display: inline-block;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@mixin bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin full-width {
  width: calc(100% + var(--base-gap) * 2);
  margin-left: calc(var(--base-gap) * -1);
}

@mixin full-width-cancel {
  width: 100%;
  margin-left: unset;
}

@mixin clip-btn($id) {
  clip-path: url($id);
  object-fit: cover;
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
